@font-face {
    font-family: missK;
    src: url(resources/KGMissKindergarten.ttf);
  }

body{
    width: 50%;
    margin: auto;
}
#bkgrnd {
    position: relative;
    width: 100%;
    height: 55%;
    margin: auto;
    z-index: -1;
}
#board {
    position: relative;
    top: -28vw;
    width: 80%;
    margin:auto;
    z-index: 1;
}
.bigLetter{
    font-family: missK;
    font-weight: bold;
    font-size: 3.7vw;
    color: blue;
    padding: .2em;
    float:left;
}
.vowel{
    color:red !important;
}
.letter{
    display: block;
    position: fixed;
    padding: 0.25em;
    font-size: 3vw;
    font-family: missK;
    font-weight: bold;
    color:blue;
}
#erase{
    width: 10%;
    margin:auto;
    display: block;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

#tester{
    border: 1px solid red;
    position: absolute;
}